# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# IDE config files (IntelliJ IDEA)
.idea/
*.iml

# Maven
target/

# Gradle
.gradle/
build/

# OS-specific
.DS_Store
Thumbs.db